@model IEnumerable<WebHotel.Models.StatisticsViewModels.CalcBedCountStats>

@{
    ViewData["Title"] = "CalcBedCountStats";
}

<h2>Booking Distribution with respect to Bed Count</h2>
<h2></h2>
<br />

<div>
    <table class="table">

        <tr>
            <th>
                @Html.DisplayNameFor(b => b.BedCount)
            </th>
            <th>
                @Html.DisplayNameFor(b=> b.NoOfBookings)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem =>item.BedCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfBookings)
                </td>
            </tr>
        }
    </table>
</div>
