@model IEnumerable<WebHotel.Models.StatisticsViewModels.CalcRoomIDStats>

@{
    ViewData["Title"] = "CalcRoomIDStats";
}

<h2>Bookings Distribution With Respect to Rooms </h2>
<h2></h2>
<br />

<div>
    <table class="table">

        <tr>
            <th>
                @Html.DisplayNameFor(b => b.RoomID)
            </th>
            <th>
                @Html.DisplayNameFor(b => b.NoOfBookings)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfBookings)
                </td>
            </tr>
        }
    </table>
</div>
