
@{
    ViewData["Title"] = "Statistics";
}

<h2>Statistics</h2>

<div>
    <li><a asp-area="" asp-controller="Customers" asp-action="CalcPostcodeStats">Customer Distribution with respect to postcodes </a></li>
  
</div>
<div>
    <li><a asp-area="" asp-controller="Bookings" asp-action="CalcRoomIDStats">Booking Distribution with respect to Room ID </a></li>
</div>
<div>
    <li><a asp-area="" asp-controller="Bookings" asp-action="CalcBedCountStats">Booking Distribution with respect to Bed Count </a></li>
</div>