@model IEnumerable<WebHotel.Models.StatisticsViewModels.CalcPostcodeStats>

@{
    ViewData["Title"] = "CalcPostcodeStats";
}

<h2>Customer distribution with respect to postcodes</h2>
<br />

<div>
    <table class="table">
       
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.PostcodeOfCustomer)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.NoOfCustomer)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PostcodeOfCustomer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfCustomer)
                </td>
            </tr>
        }
    </table>
</div>